/* Contact.css */

.contact-container {
    max-width: 600px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #556680;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e4a5e;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3%;
}

.btncon button[type='submit'] {
    background-color: #556680;
    color: white;
    padding: 12px 277px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 5%;
}

.btncon button[type='submit']:hover {
    background-color: #556680;
}
/* Add more styles as needed */
