/* navbar.css */

.yellow-bg {
  background-color: rgba(255, 196, 0, 0.896);
  color: #333; /* 设置文本颜色 */
  border-radius: 5px; /* 设置圆角 */
  padding: 5px 10px; /* 设置内边距 */
  margin-left: 8px;
}

.topbar {
  background-image: url('/src/images/movies/emancipation.jpg'); /* 替换为你的背景图片路径 */
  background-size: cover;
  height: 50px;
  top: 0%;
  display: flex; /* 使用 Flexbox 布局 */
  align-items: center; /* 垂直居中 */
}

.logo {
  width: 3cm;
  height: 3cm;
}


.navbarw {
  background-image: url('/src/images/movies/emancipation.jpg');
  background-size: cover;
  height: 300px;
  background-position: center -50px; /* 从顶部下移50px开始显示背景图片 */
}


